.noscript {
  position: fixed;
  inset: 0;
  z-index: 1000000;
  overflow: auto;
  display: grid;
  padding: 1rem;
  background: var(--background-primary-main);
}

.noscript__wrp {
  display: grid;
  grid-auto-rows: max-content;
  justify-items: center;
  align-content: center;
  grid-gap: 0.75rem;
  text-align: center;
}

.noscript__message {
  max-width: 44rem;
}

.noscript__enable-support {
  transition: color var(--field-transition-duration);
  color: var(--primary-main);
}

.noscript__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.noscript__list-item {
  display: grid;
  grid-gap: 0.5rem;
}

.noscript__link {
  border-radius: 0.5rem;
  overflow: hidden;
}

.noscript__link:hover {
  box-shadow: 0 0 0.5rem 0.25rem var(--background-primary-light);

  .noscript__image {
    transform: scale(1.1);
  }
}

.noscript__image {
  display: block;
  transition: transform var(--field-transition-duration);
}
