/* stylelint-disable declaration-no-important */
/* stylelint-disable unit-disallowed-list */
html {
  font-family: var(--app-font-family-main);
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  min-height: vh(100);
  display: flex;
  flex-direction: column;
}

/* stylelint-disable-next-line */
body, #__nuxt {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  background: var(--background-primary-dark);
}

input,
select,
textarea {
  padding: var(--field-padding);
  background: var(--field-bg-primary);
  box-shadow: inset 0 0 0 toRem(50) var(--field-bg-primary);
  transition: var(--field-transition-duration) ease;

  &:disabled,
  &:read-only {
    border-color: var(--disable-primary-dark);
    background: var(--disable-primary-dark);
  }

  &:read-only::-webkit-input-placeholder {
    @include field-placeholder-readonly;
  }

  &:read-only::-moz-placeholder {
    @include field-placeholder-readonly;
  }

  &:read-only:-moz-placeholder {
    @include field-placeholder-readonly;
  }

  &:read-only:-ms-input-placeholder {
    @include field-placeholder-readonly;
  }

  &:read-only::placeholder {
    @include field-placeholder-readonly;
  }

  &::-webkit-input-placeholder {
    @include field-placeholder;
  }

  &::-moz-placeholder {
    @include field-placeholder;
  }

  &:-moz-placeholder {
    @include field-placeholder;
  }

  &:-ms-input-placeholder {
    @include field-placeholder;
  }

  &::placeholder {
    @include field-placeholder;
  }

  &:focus {
    outline: none;
  }

  @include field-border;
  @include field-text;
}

button, a {
  cursor: pointer;
}

body,
span,
p,
a {
  color: var(--text-primary-light);

  @include p-16-regular;
}

h1 {
  font-family: var(--app-font-family-main);
  font-size: toRem(56);
  font-weight: 500;
  line-height: toRem(72);
  letter-spacing: 0;
}

h2 {
  font-family: var(--app-font-family-main);
  font-size: toRem(40);
  font-weight: 500;
  line-height: toRem(48);
  letter-spacing: 0;
}

h3 {
  font-family: var(--app-font-family-main);
  font-size: toRem(24);
  font-weight: 500;
  line-height: toRem(32);
  letter-spacing: 0;
}

.fade-enter-active {
  animation: fade-in 0.25s;
}

.fade-leave-active {
  animation: fade-in 0.25s reverse;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.layout-wrapper {
  max-width: toRem(1800);
  margin: 0 auto;
}

.block {
  display: flex;
  flex-direction: column;
  min-height: toRem(400);
  width: 100%;
  border-radius: toRem(8);
  border: toRem(1) solid var(--border-primary-dark);
  background: var(--background-primary-main);
}

.content {
  display: flex;
  padding: toRem(40);
  height: 100%;
  flex-direction: column;
}

.dp__input_wrap,
.dp__main {
  width: auto;
}

.dp__clear_icon {
  display: none;
}

.dp__arrow_top {
  left: 95%;
}

.dp__theme_dark {
  font-family: var(--app-font-family-main);
  --dp-background-color: var(--background-primary-light);
  --dp-text-color: var(--text-primary-main);
  --dp-hover-color: var(--text-primary-dark);
  --dp-hover-text-color: var(--text-primary-light);
  --dp-hover-icon-color:  var(--text-primary-light);
  --dp-primary-color: var(--primary-main);
  --dp-primary-text-color: var(--text-primary-invert-main);
  --dp-secondary-color: var(--text-secondary-main);
  --dp-border-color: var(--border-primary-dark);
  --dp-menu-border-color:  var(--border-primary-dark);
  --dp-border-color-hover: var(--border-primary-light);
  --dp-disabled-color: var(--text-secondary-dark);;
  --dp-scroll-bar-background: var(--border-secondary-dark);
  --dp-scroll-bar-color: var(--border-secondary-main);
  --dp-success-color: var(--success-main);
  --dp-success-color-disabled: var(--success-dark);
  --dp-icon-color: var(--text-primary-main);
  --dp-danger-color: var(--error-main);
}
