$white: #ffffff;
$white-rgb: hexToRGB($white);
$black: #000000;
$black-rgb: hexToRGB($black);

$app-bg: #1b191a;

/* status colors */

$success-light: #5efc82;
$success-main: #00c853;
$success-dark: #009624;

$error-light: #ff6434;
$error-main: #dd2c00;
$error-dark: #a30000;

$warning-light: #f16709;
$warning-main: #ff6d00;
$warning-dark: #c43c00;

$info-light: #C8ABFF;
$info-main: #C8ABFF;
$info-dark: #C8ABFF;

/* brand colors */

$primary-light: #FCFCFC;
$primary-main: #FCFCFC;
$primary-dark: #FCFCFC;

$secondary-light: #6A6A6A;
$secondary-main: #6A6A6A;
$secondary-dark: #6A6A6A;

$tertiary-light: #252627;
$tertiary-main: #252627;
$tertiary-dark: #2E2E2E;

/* typography colors */

$text-primary-light: #484848;
$text-primary-main: #FCFCFC;
$text-primary-dark: #C8ABFF;

$text-secondary-light: #4f5b62;
$text-secondary-main: #A5A5A5;
$text-secondary-dark: #000a12;

$text-primary-invert-light: #ffffff;
$text-primary-invert-main: #ffffff;
$text-primary-invert-dark: #ffffff;

$text-secondary-invert-light: #ffffff;
$text-secondary-invert-main: #ffffff;
$text-secondary-invert-dark: #ffffff;

/* border colors */

$border-primary-light: #cfcfcf;
$border-primary-main: #9e9e9e;
$border-primary-dark: #707070;
